<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="PathEntry" Guid="*">
        <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]"
                     Permanent="no" Part="last" Action="set" System="no" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
